body {
    display: flex;
    flex-direction: column;
    background: fixed url(images/wallpaper1.png);
    background-repeat: no-repeat ;
    background-size: cover ;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* CSS NAVBAR ---------------------------- */
nav{
    background-color: rgb(9, 4, 71, 0.8);
    display: flex;
    justify-content: center;
    border-bottom: white solid 2px;
    box-shadow: 1px 1px 10px 1px white;
    position: fixed;
    width: 100%;
}
nav a{
    text-decoration: none;
    color: white;
    background-color: rgb(9, 4, 71, 0.01);
    font-size: 20px;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav a:hover {
    color: aqua;
}
/* --------------------------------------------- */

/* CSS HEADER --------------------------------------- */
header {
    background: fixed url(images/wallpaper6.png);
    background-repeat: no-repeat ;
    background-size: cover;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    width: 60%;
    text-align: center;
    border: solid white 2px;
    box-shadow: 1px 1px 10px 1px white;
}
header h1{
    color: white;
}
/* ------------------------------------------------------- */

/* CSS BLOCK 1 ----------------------------------------- */
.block1{
    background: fixed url(images/wallpaper6.png);
    background-repeat: no-repeat ;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    box-shadow: 1px 1px 10px 1px white;
    text-shadow: 2px 2px 10px white ;
}
.left1{
    width: 40%;
    align-self: center;
}
.left1 a {
    text-decoration: none;
    color: red;
}
.right1{
    width: 40%;
}
.right1 img{
    max-width: 100%;
}
/* --------------------------------------------------------- */

/* CSS BLOCK 2 ------------------------------------------------- */
.block2{
    background: fixed url(images/wallpaper6.png);
    background-repeat: no-repeat ;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-shadow: 2px 2px 10px white ;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    box-shadow: 1px 1px 10px 1px white;
}
.left2{
    width: 40%;
}
.left2 img{
    width: 100%;
}
.right2{
    width: 40%;
    align-self: center;
}
/* CSS BLOCK 3  ------------------------------------------*/
.block3 {
    background: fixed url(images/wallpaper6.png);
    background-repeat: no-repeat ;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(73, 96, 216, 0.8);
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    box-shadow: 1px 1px 10px 1px white;
    text-shadow: 2px 2px 10px white ;
    color: white;
}
.left3{
    width: 40%;
    align-self: center;
}
.left3 a{
    text-decoration: none;
}
.right3{
    width: 40%;
    display: flex;
    align-items: center;
}
.right3 img{
    max-width: 100%; 
}
/* --------------------------------------------------------- */

footer{
    background-color:  rgb(9, 4, 71, 0.7);
    color: white;
    text-align: center;
    font-family: monospace;
    padding: 0px;
    border-top: white solid 2px ;
}
footer p{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}
